*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:100%;
}
.card-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    padding-top: 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
}
.cardbody{
    background-color: #d8deed;
    width: 300px;
    margin: 10px;
    padding: 7%;
   
}
.description{
    background-color:white;
    padding: 30px;
}
button{
    border: none;
    background-color: coral;
    padding: 10px 10px;
    width: 100%;
   text-align: center;
}
h3{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.swamy{
    width: 100%;
    height: auto;
}
h2{
 text-align: center;
 padding-top: 60px;
 font-family: sans-serif;
 text-transform: uppercase;
}
.box1{
    height: 30px;
    width: 60px;
    background-color: rgb(229, 227, 227);
    position: absolute;
    transform: translateX(195px) translateY(118px);
    text-align: center;
    padding-top: 4px;
    color: red;
}
p{
    padding-top: 5px;
    size: 100;
}

.photo{
    position: relative;
}
@media screen and (min-width: 576px){
    .card-container{
       flex-direction: row;
    }
}