*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.swamy{
    text-align: center;
    background-color: antiquewhite;
}
button{
    margin: 20px;
    cursor: pointer;
    border: none;
    background-color: antiquewhite;
}
.item1{
transform: translateY(100px);
z-index: 1;
position: absolute;
top: 35%;
left: 28%;
text-align: center;
justify-content: center;
color: white;
}
.item1> button{
    background-color: rgb(227, 83, 112);
    height: 35px;
    width: 150px;
}
.image1{
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.cook_img{
    margin: 4rem;
}
.div{
    height: 100;
    background-color: chocolate;
    width: 100;
    position: absolute;
    top: 150px;
}
.image2{
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 150px;
}
h5{
    background-color: chocolate;
    position: relative;
    color: white;
    bottom: 10px;
    text-align: center;
    height: 100px;
    width: 100%;
}
.image3> button{
    position: relative;
    left: 550px;
    bottom: 80px;
    border: none;
    background-color: white;
    height: 30px;
    width: 150px;
}
.chandhu{
    position: relative;
    bottom: 500px;
    left: 340px;
}
p{
    position: relative;
    bottom: 800px;
    color: white;
    text-align: center;

}
.box{
    background-color:white;
    height: 200px;
    width: 300px;
    position: relative;
    top: 928px;
    left: 640px;
    text-align: center;
}
.delicious{
    
    position: absolute;
    top: 9%;
    background-color: coral;
    width: 300px;
    height: 300px;
    text-align: center;
}
.delicious> p{
    text-align: center;
    z-index: 0;
}
.cookdesert{
    margin: 4rem;
}
